<div class="reset-password-screen">
  <div class="reset-password-container">
    <h2>Reset Password</h2>
    <div class="form-container">
      <form (ngSubmit)="resetPassword()">
        <div>
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit" class="submit-btn">Reset Password</button>
      </form>
    </div>
  </div>


  <div class="background-image"></div>